@import './style/variables.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: var(--text-main);
  background-color: var(--bg-main);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}

a:hover {
  filter: brightness(1.1);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-text);
}

button {
  border-radius: 4px;
  border: 1.5px solid var(--border-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary);
  color: var(--text-main);
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s,
    border 0.2s;
  box-shadow: none;
}

button:hover {
  filter: brightness(0.9);
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.section-title {
  text-align: left;
  margin: 1.5rem 0 0.5rem 0;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--text-main);
}

.section-divider {
  border-top: 2px solid var(--text-main);
  margin: 30px 0 20px 0;
}

.section-subheader {
  font-size: 1.08em;
  font-weight: 500;
  color: var(--text-main);
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

h1 {
  font-family: 'Metamorphous', sans-serif;
}

@font-face {
  font-family: 'Metamorphous';
  src: url('/src/assets/Metamorphous-Regular.ttf') format('truetype');
}